.ImageRevealPage {

    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    h1 {

        background: linear-gradient(45deg, orange, blue);
        -webkit-background-clip: text;
        -webkit-animation: alternate;
        color: transparent;
        font-size: 4rem;
        text-align: center;

    }

}

.imageContainer {

    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: content-box;

}