.Page {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 12rem auto;
    align-items: center;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    .header {
        font-size: 2rem;
    }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}

.sliderContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    .sliderButton {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 16rem;
    }
    .slide {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media screen and (max-width:720px) {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
        }
        .imgContainer {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
            .img {
                opacity: 0;
                position: absolute;
            }
        }
        .textContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            .subtextContainer {
                position: absolute;
                margin-right: 5rem;
                .text {
                    font-weight: bolder;
                    font-size: 1.2rem;
                    opacity: 0;
                }
                .name {
                    padding-top: 1rem;
                    padding-bottom: 6px;
                    opacity: 0;
                }
                .description {
                    font-size: .8rem;
                    font-weight: lighter;
                    opacity: 0;
                }
            }
            
        }
    }
}