.Page {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 12rem auto;
    align-items: center;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    .header {
        font-size: 2rem;
    }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}

.HeroContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .textsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        .textHeader {
            font-size: 1.6rem;
            font-weight: bolder;
            
        }
        .paragraph {
            font-size: .9rem;
            padding: 1rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .explore {
            display: flex;
            cursor: pointer;
            .text,.exploreButton {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .5rem;
            }
        }
    }
    .imagesContainer {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        padding: 1rem;
        gap: .5rem;
        overflow: hidden;
        .img {
            position: relative;
            width: 100%;
            height: 70%;
            display: flex;
            align-items: flex-end;
            &:nth-child(1){
                align-self: end;
            }
            &:nth-child(2){
                align-self: start;
            }
        }
    }
}

// responsiveness

@media screen and (max-width:720px) {
    .HeroContainer {
        grid-template-columns: 1fr;
        grid-template-rows: .7fr 1fr;
        .textsContainer {
            grid-row: 2;
        }
        .imagesContainer {
            grid-row: 1;
            .img {
                height: 100%;
            }
        }
    }
    
}

//gsap initial states

.textsContainer {
    opacity: 0;
    .textHeader {
        p {
            padding-top: 30px;
            overflow: hidden;
            height: 2rem;
        }
    }
    .paragraph {
        opacity: 0;
    }
    .explore {
        opacity: 0;
    }
}

.imagesContainer {
    .img {
        opacity: 0;
    }       
}

