.Page {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 12rem auto;
    align-items: center;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    .header {
        font-size: 2rem;
    }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}

.HeroContainer {
    height: 100%;
    width: 100%;
    .frontContainer {
        width: calc(100% - 2.5rem);
        height: calc(100% - 14.5rem);
        position: absolute;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        z-index: 3;
        .textContainer {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            grid-column: 2 / span 4;
            display: flex;
            justify-content: center;
            flex-direction: column;
            p {
                font-weight: bolder;
                text-align: start;
                font-size: 3rem;
                span {
                    color: darkgray;
                }
                &:nth-child(2){
                    font-weight: lighter;
                    font-size: 1.5rem;
                }
                &:nth-child(3){
                    position: absolute;
                    transform: translate(8rem,.5rem);
                    font-size: 2rem;
                }
                &:nth-child(4){
                    font-size: 7rem;
                    color: rgb(91, 117, 91);
                    span {
                        font-size: 9rem;
                        color: rgb(91, 117, 91);
                    }
                }
            }
        }
        .button {
            grid-column: 8;
            font-size: .8rem;
            align-self: center;
            height: fit-content;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            text-wrap: none;
            border: 1px solid black;
            span {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
            }
        }
    }
    .backContainer {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        height: 100%;
        width: 100%;            
        .imgContainer{
            grid-column: 3;
            align-self: center;
            justify-self: center;
            position: relative;
            width: 100%;
            height: 80%;
            overflow: hidden;
            .curtain {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgb(91, 117, 91);
                z-index: 2;
            }
        }
        .sideMessage {
            font-size: .8rem;
            padding-top: 30%;
            p {
                padding-left: .5rem;
                border-bottom: 1px solid black;
            }
        }
    }
}

// responsiveness

@media screen and (max-width:720px) {
    .HeroContainer {
        .frontContainer {
            grid-template-columns: 1fr 1fr;
            .textContainer{
                padding: 1rem;
                justify-content: flex-start;
                grid-column: 1;
                p {
                    font-size: 2rem;
                    &:nth-child(3){
                        font-size: 1rem;
                        transform: translate(3.5rem,5rem);
                    }
                    &:nth-child(4){
                        font-size: 3rem;
                        span {
                            font-size: 4rem;
                        }
                    }
                }
            }
            .button{
                align-self: end;
                justify-self: end;
                position: absolute;
                margin-bottom: 5rem;
            }
        }
        .backContainer {
            grid-template-columns: 2fr 1fr;
            .imgContainer {
                grid-column: 1;
                height: calc(100% - 12rem);
                align-self: end;
            }
            .sideMessage {
                padding-top: 15rem;
            }
        }
    }
}


// gsap

.HeroContainer {
    .backContainer {
        .imgContainer {
            .curtain {
                width: 0;
            }
            .img {
                opacity: 0;
            }
        }
        .sideMessage {
            opacity: 0;
        }
    }
    .frontContainer {
        .textContainer {
            p {
                opacity: 0;
            }
        }
        .button {
            opacity: 0;
        }
    }
}