$size: 50px;
.box {

    height: $size;
    width: $size;
    border-radius: 12px;
    background-color: cornflowerblue;

}

.circle {

    height: $size;
    width: $size;
    border-radius: 100%;
    background-color: salmon;
    
}