.Page {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 12rem auto;
    align-items: center;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    .header {
        font-size: 2rem;
    }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .circle {
            width:  5rem;
            height: 5rem;
            background-color: red;
            border-radius: 100%;
            cursor: pointer;
        }
        .circle.yellow { background-color: #fdcf51 }
        .circle.red { background-color: #fd5151 }
        .circle.blue { background-color: #51A0FD; }
    }
}